body{

font-family:Arial;
text-align:center;
background:#203a43;
color:white;

}


#reader{

width:90%;
margin:auto;
background:white;

}


button{

padding:15px;
margin:20px;
border:none;
border-radius:10px;
background:#00c6ff;
font-size:18px;

}